absl-py==0.8.0
altair==3.2.0
annoy==1.16.0
appnope==0.1.0
asn1crypto==0.24.0
astor==0.8.0
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
blis==0.2.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cycler==0.10.0
cymem==2.0.2
dataclasses==0.6
decorator==4.4.0
defusedxml==0.6.0
en-core-web-lg==2.1.0
entrypoints==0.3
enum34==1.1.6
fastapi==0.38.1
gast==0.3.0
google-pasta==0.1.7
graphviz==0.13
grpcio==1.23.0
h11==0.8.1
h5py==2.9.0
httptools==0.0.13
idna==2.8
implicit==0.4.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-http-over-ws==0.0.6
jupyterlab==1.1.1
jupyterlab-server==1.0.6
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lightfm==1.15
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
murmurhash==1.0.0
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numba==0.45.1
numpy==1.16.4
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
ptyprocess==0.6.0
pycparser==2.19
pydantic==0.32.2
pydot==1.4.1
Pygments==2.4.2
pygobject==3.26.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.1
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.1
seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
six==1.11.0
spacy==2.1.8
spotlight==0.1.6
srsly==0.1.0
starlette==0.12.8
statsmodels==0.10.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorrec==0.26.2
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
toolz==0.10.0
torch==0.4.0
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
umap-learn==0.3.10
urllib3==1.24.2
uvicorn==0.9.0
uvloop==0.13.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.0.2
Werkzeug==0.15.6
widgetsnbextension==3.4.2
wrapt==1.11.2
